<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="no.thorbear.libraryone">

  <application>

    <activity
      android:name="no.thorbear.librarytwo.SampleActivity"
      android:screenOrientation="portrait"
      tools:replace="android:screenOrientation"/>

    <activity
      android:name="no.thorbear.librarythree.AnotherSampleActivity"
      android:screenOrientation="portrait"
      tools:replace="android:screenOrientation"/>

  </application>

</manifest>