<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="no.thorbear.librarytwo">

  <application>
    <activity
      android:label="@string/title_activity_sample"
      android:name=".SampleActivity"
      android:screenOrientation="sensor"/>
  </application>

</manifest>